altgraph
arxiv
certifi
charset-normalizer
DateTime
feedparser
idna
Markdown
packaging
pyinstaller-hooks-contrib
pymdown-extensions
python-markdown-math
pytz
PyYAML
requests
sgmllib3k
urllib3
zope.interface
